//
//
// An example for dark theme
//
// Also you can copy variables from _variables.scss to _custom.scss
// to customize typography, spacing and other variables.
//
//


// Background color
$color-background: #212529;

// Border color
$color-border: #dee2e6;

// Text color
$color-text: #fff;
$color-text-muted: #6c757d;
// The link color
$color-text-link: #0d6efd;

$color-primary: #0d6efd;
$color-danger: #dc3545;

// For preview section
$smde-color-background-preview: #212529;
// Image alt, HTML tag and attribute
$smde-color-text-tag: #6c757d;
